<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleExecutable</key>
	<string>app</string>
	<key>CFBundleIdentifier</key>
	<string>ninja.nostrudel</string>
	<key>CFBundleName</key>
	<string>noStrudel</string>
	<key>CFBundleVersion</key>
	<string>0.41.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.41.0</string>
</dict>
</plist>
